{{! Nav Bar }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/TH-logo-red-hiRes.jpg" width="100" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/saved">Saved Articles</a>
      <button type="button" class="btn btn-dark" id="scrape">Scrape New Articles</button>
    </div>
  </div>
</nav>

{{! Main Header Image }}
<div class="jumbotron">
      <h1 class="display-4">
      The Horse
      </h1>
    <p class="lead"><strong>Review the latest news from TheHorse.com's News page.</strong></p>
</div>

{{! Articles }}
<div id="articles">
    {{#each articles}}
        {{> article }}
    {{/each}}
</div>




<footer class="footer">
  "The Horse" News Scraper</strong> by <a href="https://github.com/JLGaumnitz/mongo-news-scraper"
    target="_blank">Jennifer Gaumnitz | 2020</a>
</footer>