.jumbotron {
    background: url("../images/paolo-chiabrando-lW9gxX6rrvE-unsplash.jpg") no-repeat; 
    background-size: cover;
    min-height: 100px;
    background-position: right 35% bottom 15%;;
    padding-right:100px;
    background-color: #AE012E;
  }

body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
 font-size: 5rem !important;
 color: #ffffff;
 text-align: left;
 text-shadow:5px 5px #AE012E;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.lead {
  color: #ffffff;
  text-align: left;
  text-shadow:2px 2px #AE012E;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.addNote {
  background-color: #AE012E;
}

.deleteNote {
  display: inline-block;
}

.delete {
  background-color: black;
  display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%
}

#scrape {
  background-color: #AE012E;
  margin: 8px 0px;
}

.save {
  background-color: #AE012E;
  margin-top: 5px;
  margin-bottom: 10px;
}

.saveNote {
  background-color: #AE012E;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #AE012E;
  color: white;
  text-align: center;
  text-decoration: none;
}

a { 
  color: #AE012E; 
}

a:hover {
  color: gray;
}

a:visited {
  color: black;
}

.panel {
  border: dotted #AE012E;
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#notes-modal {
  border: none;
  background-color: #ffffff;
}

.panel-default {
  border: none;
  background-color: #ffffff;
}